.my-column{width:calc(100vw - 24px);max-width:1280px;margin:auto}.my-footer{width:calc(100vw - 24px);max-width:900px;margin:auto}.n-a{display:inline-block}.square-group button{width:34px;padding:0}.n-menu-item-content-header{overflow:visible!important}.n-button[data-v-d37dbee2]{font-size:24px}
